.footer.site-section.pb-0.bg-dark
  .container
    .row
      .col-md-3
        .site-logo-footer.mb-4
          a.text-white(href='/') Consulting
        p.text-white Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis mollitia porro maxime ipsum nisi. Ipsam, rerum. Perferendis sunt vel quae corporis. Esse vitae dolorem, illo quis hic ut? Illum, pariatur.
      .col-md-8.ml-auto
        .row
          .col-md-4.ml-auto
            h3.footer-heading.mb-4.text-uppercase Contact Info
            ul.list-unstyled.links
              li
                a(href='#') Contact Us
              li
                a(href='#') hello@mydomain.com
              li
                a(href='#') +1 829 2293 382
              li
                a(href='#') Support
          .col-md-4
            h3.footer-heading.mb-4.text-uppercase Links
            ul.list-unstyled.links
              li
                a(href='/') Home
              
              li
                a(href='/services') Services
              li
                a(href='/contact') Contact
              
          .col-md-4
            ul.list-unstyled.links
              h3.footer-heading.mb-4.text-uppercase Utils
              li
                a(href='#') FAQ
              li
                a(href='#') Legal
              li
                a(href='#') Cookies
              li
                a(href='#') Security
.py-5.bg-dark
  .container
    .row.mt-5.justify-content-center
      .col-md-7.text-center
        p.text-white
         
          | Copyright &copy;
          script.
            document.write(new Date().getFullYear());
          |  All rights reserved 
script(src='js/jquery-3.3.1.min.js')
script(src='js/jquery-migrate-3.0.1.min.js')
script(src='js/popper.min.js')
script(src='js/bootstrap.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/jquery.sticky.js')
script(src='js/jquery.waypoints.min.js')
script(src='js/jquery.animateNumber.min.js')
script(src='js/jquery.fancybox.min.js')
script(src='js/jquery.stellar.min.js')
script(src='js/jquery.easing.1.3.js')
script(src='js/bootstrap-datepicker.min.js')
script(src='js/isotope.pkgd.min.js')
script(src='js/aos.js')
script(src='js/typed.min.js')
script.
  var typed = new Typed('.typed-words', {
  strings: ["Products","Content","Artworks", "Brands"],
  typeSpeed: 40,
  backSpeed: 40,
  backDelay: 2000,
  startDelay: 0,
  loop: true,
  showCursor: true
  });

script(src='js/main.js')