doctype html
head
  title Consulting &mdash; Website Template by Colorlib
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(href='https://fonts.googleapis.com/css?family=Poppins:400,800,900|Source+Serif+Pro&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/fonts/icomoon/style.css')
  link(rel='stylesheet' href='/fonts/eticons/style.css')
  link(rel='stylesheet' href='/css/bootstrap.min.css')
  link(rel='stylesheet' href='/css/jquery.fancybox.min.css')
  link(rel='stylesheet' href='/css/owl.carousel.min.css')
  link(rel='stylesheet' href='/css/owl.theme.default.min.css')
  link(rel='stylesheet' href='/css/aos.css')
  // MAIN CSS
  link(rel='stylesheet' href='css/style.css')
#home-section.site-wrap
  .site-mobile-menu.site-navbar-target
    .site-mobile-menu-header
      .site-mobile-menu-close.mt-3
        span.icon-close2.js-menu-toggle
    .site-mobile-menu-body
  header.site-navbar.site-navbar-target(role='banner')
    .container
      .row.align-items-center.position-relative
        .col-3
          .site-logo
            a.font-weight-bold(href='/') DigiHub
        .col-9.text-right
          span.d-inline-block.d-lg-block
            a.text-black.site-menu-toggle.js-menu-toggle.py-5(href='#')
              span.icon-menu.h3.text-black
          nav.site-navigation.text-right.ml-auto.d-none.d-lg-none(role='navigation')
            ul.site-menu.main-menu.js-clone-nav.ml-auto
              li.active
                a.nav-link(href='/') Home
              li
                a.nav-link(href='/services') Services
              li
                a.nav-link(href='/contact') Contact
  .site-section-cover
    .container
      .row.align-items-center.text-left.justify-content-center
        .col-lg-10.ml-auto
          h1.text-black.mb-4 We Love Creating Digital
            div.d-flex
              div.typed-words.text-black 
  .site-section-cover.full-screen(style="background-image: url('images/hero_1.jpg');" data-stellar-background-ratio='0.5')
    .container
      .row.align-items-center.text-left.justify-content-center
  .site-section
    .container
      .row.mb-5.align-items-start
        .col-md-4
          h5.heading-caps.text-muted Services
        .col-md-8
          h2.font-weight-bold We are consulting agency based in New York City
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex magnam earum a facilis eius omnis quia ullam animi vitae iste.
      .row
        .col-md-4
          .service-29191.d-flex
            span.wrap-icon.mb-4.d-block
              span.et-toolbox
            div
              h3.mb-3 Consultation
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti voluptatem reiciendis minus, a dolores.
        .col-md-4
          .service-29191.d-flex
            span.wrap-icon.mb-4.d-block
              span.et-genius
            div
              h3.mb-3 Innovative Ideas
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti voluptatem reiciendis minus, a dolores.
        .col-md-4
          .service-29191.d-flex
            span.wrap-icon.mb-4.d-block
              span.et-chat
            div
              h3.mb-3 24/7 Support
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti voluptatem reiciendis minus, a dolores.
  .site-section.bg-dark
    .container-fluid
      .owl-carousel.nonloop-block-13
        .media-29191
          blockquote
            | &ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi itaque incidunt tenetur iure rerum sed amet. Fugit, provident?&rdquo;
          .d-flex.vcard-91123.align-items-center
            .img.mr-3
              img.img-fluid(src='images/person_1.jpg' alt='Image')
            .name
              span.d-block by John Freeman
              span CEO Co-Founder
        .media-29191
          blockquote
            | &ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi itaque incidunt tenetur iure rerum sed amet. Fugit, provident?&rdquo;
          .d-flex.vcard-91123.align-items-center
            .img.mr-3
              img.img-fluid(src='images/person_4.jpg' alt='Image')
            .name
              span.d-block by John Freeman
              span CEO Co-Founder
        .media-29191
          blockquote
            | &ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi itaque incidunt tenetur iure rerum sed amet. Fugit, provident?&rdquo;
          .d-flex.vcard-91123.align-items-center
            .img.mr-3
              img.img-fluid(src='images/person_3.jpg' alt='Image')
            .name
              span.d-block by John Freeman
              span CEO Co-Founder
        .media-29191
          blockquote
            | &ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi itaque incidunt tenetur iure rerum sed amet. Fugit, provident?&rdquo;
          .d-flex.vcard-91123.align-items-center
            .img.mr-3
              img.img-fluid(src='images/person_2.jpg' alt='Image')
            .name
              span.d-block by John Freeman
              span CEO Co-Founder
.site-section.pb-0
  .container
    .row.mb-5.align-items-start
      .col-md-4
        h5.heading-caps.text-muted Office Gallery
      .col-md-8
        h2.font-weight-bold We are consulting agency based in New York City
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex magnam earum a facilis eius omnis quia ullam animi vitae iste.
  .container-fluid.px-0
    .row.no-gutters
      .col-md-4
        a.portfolio-item(href='images/img_1.jpg' data-fancybox='gal')
          div.img-wrapper
            img.img-fluid.img-cover(src='images/img_1.jpg' alt='Image')
      .col-md-4
        a.portfolio-item(href='images/img_2.jpg' data-fancybox='gal')
          div.img-wrapper
            img.img-fluid.img-cover(src='images/img_2.jpg' alt='Image')
      .col-md-4
        a.portfolio-item(href='images/img_3.jpg' data-fancybox='gal')
          div.img-wrapper
            img.img-fluid.img-cover(src='images/img_3.jpg' alt='Image')
      .col-md-4
        a.portfolio-item(href='images/img_4.jpg' data-fancybox='gal')
          div.img-wrapper
            img.img-fluid.img-cover(src='images/img_4.jpg' alt='Image')
      .col-md-4
        a.portfolio-item(href='images/img_5.jpg' data-fancybox='gal')
          div.img-wrapper
            img.img-fluid.img-cover(src='images/img_5.jpg' alt='Image')
      .col-md-4
        a.portfolio-item(href='images/img_6.jpg' data-fancybox='gal')
          div.img-wrapper
            img.img-fluid.img-cover(src='images/img_6.jpg' alt='Image')

//Footer 
include ./footer.pug
//

